<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Demo Shop</title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(cart.items)}">
    	<table class="table table-striped">
    		<tr>
    			<th>Count</th>
    			<th>Product name</th>
    			<th>Price (Single item price)</th>
    		</tr>
    		<tr th:each="item : ${cart.items}">
    			<td th:text="${item.count}">count</td>
    			<td><a th:href="${ '/product/' + item.product.id}" th:text="${item.product.name}">product name</a></td>
    			<td th:text="(${item.product.price * item.count}) + '€ ('+(${item.product.price})+'€)'">product price</td>
    		</tr>
    	</table>
    	<p><a th:href="@{/cart/delete}">Remove items from cart</a></p>
    	<p><a th:href="@{/order/view}">Order items</a></p>
    </div>
    <div th:if="${#lists.isEmpty(cart.items)}">
    	<h2>Shopping cart is empty</h2>
    </div>
    
</div>
</body>
</html>